<?xml version="1.0" encoding="UTF-8"?>
<gui name="texteditor"
     version="1"
     xmlns="https://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="https://www.kde.org/standards/kxmlgui/1.0
                         https://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">
     <!--SPDX-FileCopyrightText: 2025 Trần Nam Tuấn <tuantran1632001@gmail.com>-->
     <!--SPDX-License-Identifier: GPL-3.0-only-->
    <MenuBar>
        <Menu name="file">
            <Action name="reload"/>
        </Menu>
        <Menu name="edit">
            <Action name="revert"/>
        </Menu>
    </MenuBar>
</gui>
