name: Build - Windows

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  QT_VERSION: 6.9.1
  KF_VERSION: 6.16.0
  PLASMA_VERSION: 6.4.3

defaults:
  run:
    shell: msys2 {0}

jobs:
  prepare-prefix:
    name: Prepare prefix
    runs-on: windows-latest
    outputs:
      prefix-cache-key: ${{ steps.output.outputs.prefix-cache-key }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Check cache
      id: cache
      uses: actions/cache/restore@v4
      with:
        path: prefix
        key: ${{ runner.os }}-Qt_${{ env.QT_VERSION }}-KF_${{ env.KF_VERSION }}-Plasma_${{ env.PLASMA_VERSION }}-${{ hashFiles('scripts/deploy/common.sh') }}-${{ hashFiles('scripts/deploy/download-qt.sh') }}-${{ hashFiles('scripts/deploy/build-kde.sh') }}
        lookup-only: true
    - name: Setup msys2
      if: steps.cache.outputs.cache-hit != 'true'
      uses: msys2/setup-msys2@v2
      with:
        msystem: CLANG64
        update: true
        install: >-
          git
          patch
          diffutils
          gettext
        pacboy: >-
          toolchain:p
          extra-cmake-modules:p
          cmake:p
          zlib:p
          python:p
    - name: Download Qt
      if: steps.cache.outputs.cache-hit != 'true'
      run: ./scripts/deploy/download-qt.sh
    - name: Build KDE
      if: steps.cache.outputs.cache-hit != 'true'
      run: ./scripts/deploy/build-kde.sh
    - name: Save cache
      if: steps.cache.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        path: prefix
        key: ${{ steps.cache.outputs.cache-primary-key }}
    - name: Output
      id: output
      shell: pwsh
      run: Write-Output "prefix-cache-key=${{ steps.cache.outputs.cache-primary-key }}" >> $Env:GITHUB_OUTPUT
  build:
    name: Build MEASaveEditor
    needs: [prepare-prefix]
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Restore cache
      uses: actions/cache/restore@v4
      with:
        path: prefix
        key: ${{ needs.prepare-prefix.outputs.prefix-cache-key }}
        fail-on-cache-miss: true
    - name: Setup msys2
      uses: msys2/setup-msys2@v2
      with:
        msystem: CLANG64
        update: true
        install: >-
          git
          patch
          diffutils
          gettext
        pacboy: >-
          toolchain:p
          extra-cmake-modules:p
          cmake:p
          zlib:p
    - name: Build
      run: ./scripts/deploy/build.sh --install "$PWD/artifacts/MEASaveEditor"
    - name: Deploy
      run: ./scripts/deploy/deploy.sh --install "$PWD/artifacts/MEASaveEditor"
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: MEASaveEditor
        path: artifacts
